#quote{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
div{
    margin-left: 25%;
    width: 50%;
}
img{
    width: 100%;
    border: 5px solid white;
    margin-top: 75px;
}
html{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-style: normal;
}
p{
    font-size: 15px;
    font-style: italic;
}
.special{
    font-weight: 800;
    color: aqua;
    font-style: normal;
}